snippet i "init libraries" b

#include <iostream>
$1

using namespace std;

/*
 * Function headers
 * */
$2

int main() {
  $3

	return 0;
}

$2

endsnippet

snippet len "Array length" b
int arraySize = *(&arr + 1) - arr;
cout<<arraySize<<endl;
endsnippet

snippet out "cout" b
cout<<$1<<endl;
endsnippet

snippet log "cout as console.log" b
cout<<$1<<endl;
endsnippet
