snippet do "To do reminder" b
<!--
TODO:
${1:desc}

Written `!v strftime("%c")`
By: `echo $USER`
-->
endsnippet

snippet ex "Example" b
<${1:div}>
	Hello world
</${1/(\w+).*/$1/}>
endsnippet

snippet ls "List" b
<${1:ul} ${2:class="$3"}>
	<li${4: class="$3__$5"}>$6</li>
	<li$4>$7</li>
	<li$4>$8</li>
</${1/(\w+).*/$1/}>
endsnippet

snippet ma "Main default schema" b
<main ${1:id="$2" class="$3"}>
	<article class="$3--$4">
		$5
	</article>
</main>
endsnippet
