snippet l "let type variables" b
	let $1 = $2;
endsnippet

snippet c "const type variables" b
	const $1 = $2;
endsnippet

snippet fn "Arrow function" b
	($1) => {$2}
endsnippet

snippet rct "React component skeleton" b
	import React from "react";

	const $1 = () => {
		return (
			$2;
		);
	}

	export default $1;
endsnippet

snippet log "Console.log" b
	console.log($1)
endsnippet


