snippet imp "vue import" b
import ${1} from "@/components/${2}";
endsnippet

snippet vue "vue basic" b
<template>
${1}
</template>

<script>
export default {
	${2}
}
</script>

<style lang="${3:css}" scoped>
${3}
</style>
endsnippet

snippet fun "Structure for funtion creation" b
methods: {
	$1() {
		$2
	},
},
endsnippet

snippet log "Console log structure" b
console.log("$1");
endsnippet
