snippet dc "docker template" b
version: "${1:3.8}"

services:
	${1:NAME}:
		image:
	environment:
		${2:ENV_VAR}: "${3:ENV_VAR_VALUE}"
	depends_on:
		- ${4:db}
	ports:
		- "3000-3010:3000"
	${5:db}:
		image: ${5:BD_Image}

endsnippet

